[Unit]
Description=Weekly timer for backup-homeserver.service

[Timer]
OnCalendar=Fri *-*-* 04:00:00
Persistent=true

[Install]
WantedBy=timers.target
